devices: ({
    name: "Wireless Mouse MX Master 3";

    # 4000 max
    dpi: 1800;

    smartshift: {
      on: true;
      threshold: 30;
    };

    hiresscroll: {
        hires: true;
        invert: false;
        target: false;
    };

    buttons: (
        {
            cid: 0xc3;
            action = {
                type: "Gestures";
                gestures: (
                    {   # Workspace UP
                        direction: "Up";
                        mode: "OnRelease";
                        action = {
                            type: "Keypress";
                            keys: ["KEY_LEFTMETA", "KEY_PAGEUP"];
                        };
                    },
                    {
                        # Workspace DOWN
                        direction: "Down";
                        mode: "OnRelease";
                        action = {
                            type: "Keypress";
                            keys: ["KEY_LEFTMETA", "KEY_PAGEDOWN"];
                        };
                    },
                    {   # Screenshot
                        direction: "Left";
                        mode: "OnRelease";
                        action = {
                            type: "Keypress";
                            keys: ["KEY_PRINT"];
                        };
                    },
                    {   # CHANGE ME
                        direction: "Right";
                        mode: "OnRelease";
                        action = {
                            type = "ToggleSmartshift";
                        }
                    },
                    {   # Super
                        direction: "None"
                        mode: "OnRelease"
                        action = {
                            type: "Keypress";
                            keys: ["KEY_LEFTMETA"];
                        }
                    }
                );
            };
        },
        {   # Top button
            cid: 0xc4;
            action = {
                type = "ToggleSmartshift";
            };
        },
    );
});
